<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CodeA.Properties.Settings.NoteConnectionString" connectionString="Data Source=.;Initial Catalog=Note;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>